.page{
    display: flex;
}
.leftPage{
    min-height: 100vh;
    min-width: 35vw;
    background-color: rgba(34, 9, 48, 1);
    
    
}
.rightPage{
    min-height: 100vh;
    min-width: 65vw;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%);
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.form{
    text-transform: uppercase;
    width: 40vw;
    height: 45vh;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 700;
    line-height: 14px;
    letter-spacing: 1px;
    /* border: solid 1px violet; */
}
#number , #name {
    width: 20vw;
    height: 5vh;
    border-radius: 4px;
    border: 1px solid lightslategray;
    background-color: transparent;
    margin: 6px 0px;
}
.date-in{
    width: 4.3vw;
    height: 5vh;
    border-radius: 4px;
    border: 1px solid lightslategray;
    background-color: transparent;
    margin: 6px 0px;
}
.cvv-in{
    width: 8vw;
    height: 5vh;
    border-radius: 4px;
    border: 1px solid lightslategray;
    background-color: transparent;
    margin: 6px 0px;
}
.both{
    display: flex;
}
.cvv{
    margin-left: 1vw;
}
button{
    width: 21vw;
    height: 6vh;
    border-radius: 4px;
    border: 1px solid lightslategray;
    background: rgba(34, 9, 48, 1);
    color: aliceblue;
}
button:hover{
    opacity: 0.8;
    cursor: pointer;
}
input{
    padding-left: 10px;
}
.error{
    position: relative;
    bottom: 15px;
    color: tomato;
    font-size: 8px;
    letter-spacing: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}